<h4>Registro Pedido #{{ registro.ID_Pedido }}</h4>

<h5>Antes</h5>
<p>{{ registro.desc_antes }}</p>
<div>
  {% for foto in registro.fotos_antes | from_json %}
    <img src="{{ url_for('static', filename='uploads/registro_fotografico/' ~ foto) }}" width="120" height="120">
  {% endfor %}
</div>

<h5>Después</h5>
<p>{{ registro.desc_despues }}</p>
<div>
  {% for foto in registro.fotos_despues | from_json %}
    <img src="{{ url_for('static', filename='uploads/registro_fotografico/' ~ foto) }}" width="120" height="120">
  {% endfor %}
</div>
