.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  width: 850px;
  max-width: 95%;
  border-radius: 20px;
  background-color: #fff;
  animation: fadeIn 0.6s ease-in-out;
  overflow: hidden;
  border: 1px solid #9bd1e5;
}

/* Lado izquierdo: imagen */
.login-img-side {
  background-color: #9bd1e5;
  overflow: hidden;
}

.login-img-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.95);
}

/* Título */
.text-accent {
  color: #6a8eae;
}

/* Campos de entrada */
.input-style {
  border-radius: 30px;
  border: 1px solid #9bd1e5;
  padding: 12px 20px;
  transition: all 0.3s;
}

.input-style:focus {
  border-color: #57a773;
  box-shadow: 0 0 6px rgba(87, 167, 115, 0.4);
}

/* Botón principal */
.btn-green {
  background-color: #57a773;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-green:hover {
  background-color: #157145;
  color: #fff;
}

/* Enlaces */
.text-green {
  color: #57a773;
  text-decoration: none;
}

.text-green:hover {
  color: #157145;
  text-decoration: underline;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    width: 90%;
  }

  .login-img-side {
    display: none;
  }

  .col-md-6.bg-white {
    border-radius: 20px;
  }
}
