<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<footer class="custom-footer">
    <div class="container py-5">
      <div class="row text-white">
        <div class="col-md-4"><h5 class="footer-title">Casa en el Árbol</h5><p>Diseñamos y fabricamos muebles únicos con alma natural.</p></div>
        <div class="col-md-4"><h5 class="footer-title">Información</h5><ul class="footer-list"><li>Política de privacidad</li><li>Términos y condiciones</li><li>Envíos y devoluciones</li></ul></div>
        <div class="col-md-4"><h5 class="footer-title">Horario</h5><p>Lunes a Viernes: 9:00 - 6:00<br>Sábados: 10:00 - 4:00</p><p><strong>Email:</strong> casaenelarbol236@gmail.com</p></div>
      </div>
    </div>
  </footer>